@import "tailwindcss";

@layer utilities {
  @keyframes slow-zoom {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
  }

  .animate-slow-zoom {
    animation: slow-zoom 20s ease-in-out infinite alternate;
  }
}

body {
  @apply selection:bg-rose-100 selection:text-rose-900;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

